.empnum1{
    margin-top: 15px;
    margin-left: 540px;
    color:black;
    font-size: 20px;
    }
    .empnum2{
    margin-left: 15px;
    }
    
    .empnum3{
    margin-top: 10px;
    margin-left: 484px;
    color:black;
    font-size: 20px;
    }
    .empnum4{
    margin-left: 15px;
    }
    
    .empnum5{
    margin-top: 10px;
    margin-left: 463px;
    color:black;
    font-size: 20px;
    }
    .empnum6{
    margin-left: 15px;
    }
    
    .empnum7{
    margin-top: 10px;
    margin-left: 420px;
    color:black;
    font-size: 20px;
    }
    .empnum8{
    margin-left: 15px;
    }
    .empnum9{
    margin-top: 10px;
    color:black;
    font-size: 20px;
    margin-left: 525px;
    }
    
    
    .empnum10{
    margin-top: 10px;
    margin-left: 534px;
    color:black;
    font-size: 20px;
    }
    .empnum11{
    margin-left: 18px;
    }
    
    .empnum12{
    margin-top: 10px;
    margin-left: 446px;
    color:black;
    font-size: 20px;
    }
    .empnum13{
        margin-left: 15px;
        }
    .empnum14{
    margin-top: 10px;
    margin-left: 505px;
    color:black;
    font-size: 20px;
    }
    .empnum15{
    margin-left: 15px;
    }
    .empnum16{
    margin-left: 10px;
    margin-top: 10px;
    }
    .empnum17{
        margin-left: 18px;
        }
    .empnum20{
    color:black;
    font-size: 20px;
    margin-left: 497px;
    }
    #sendbttn{
    margin-top: 20px;
    background-color:#08476e;
    margin-left: 530px;
    border-radius: 30px;
    width: 100px;
    }
    .resetbttn{
    margin-left: 5px;
    border-radius: 30px;
    width: 100px;
    }

.empsubmit2{
    background-color: lightgray;
    height: 659px;
}