.empnum1{
    margin-left: 23px;
}
.empnum01{
    margin-left: 11px;
}
.empnum2{
    margin-left: 40px;
}
.empnum3{
    margin-left: 01px;
}
.empnum8{
    margin-left: 22px;
}
.empnum9{
    margin-left: 16px;
}
.billingtext{
    margin-left: 88px;
}
#resetbttn{
    margin-left: 15px;
    width: 50px;
}
#sendbttn{
    margin-left: 105px;
    width: 50px;
}