.empnum1{
    margin-left: 23px;
    font-size: 12px;
}
.empnum01{
    margin-left: 15px;
    width: 200px;
}
.empnum2{
    margin-left: 48px;
    width: 200px;
}
.empnum3{
    margin-left: 01px;
    width: 200px;
}
.empnum8{
    margin-left: 27px;
    width: 200px;
}
.empnum9{
    margin-left: 18px;
    width: 200px;
}
.billingtext{
    margin-left: 88px;
    margin-top: 20px;
}
#resetbttn{
    margin-left: 15px;
    width: 90px;
}
#sendbttn{
    margin-left: 105px;
    width: 90px;
}