.error_color{
    color: red;
}
.loginpagewidth{
background:url('../Images/secure.jpg');
height: 658px;

}
.inputwidth{
    width: 200px;
}
.Signtext{
    font-size: 30px;
    color:lightblue;
    margin-top: 130px;
  
}
.etext{
    font-size: 16px;
    color:lightblue;
}

.etext1{
    font-size: 10px;
    color:lightblue;
    width: 150px;
}
.btn1align{
    height: 20px;
    background-color:lightblue;
}
.cancelbtn{
    margin-left:8px;
}
.frgtpassw{
    margin-left: 530px;
    /* margin-top: 200px; */
}
.forgetbackground{
    background:url('../Images/forget.jpg') no-repeat;
    height: 500px;
    width: 1200px;
    
}