.twi_icon{
    padding-left: 15px;
}
.goo_icon{
    padding-left: 15px;
}
.footer{
    background-color: lightgray;
    padding: 20px;
}
.email{
    padding-left: 40px;
}
.font-size{
    font-size: 15px;
}